# This is a simple wrapper for eng/ci.yml to get around the limitation of
# user-defined variables not being available in yaml template expressions.

# Parameters ARE available in template expressions, and parameters can have default values,
# so they can be used to control yaml flow.

variables:

  # clean the local repo on the build agents
  Build.Repository.Clean: true
  
# only trigger ci builds for the master branch
trigger:
  branches:
    include:
    - main

# To be added in the future when VSTS supports this feature
# only trigger pull request builds for the master branch
pr:
  branches:
    include:
    - main

# Call the ci.yml template, which does the real work
jobs:
- template: /eng/ci.yml
  parameters:

    ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
      agentPoolName: NetCoreInternal-Pool
      agentPool: BuildPool.Windows.10.Amd64.VS2019.Pre
      runAsPublic: false
